Flask==2.0.1
opencv-python==4.5.3.56
tensorflow_gpu==2.3.1
numpy==1.19.2
pandas==1.1.4
tensorflow==2.4.1
protobuf==3.20.*
google-auth==2.1.0
urllib3==2.0.2
absl-py==1.4.0
grpcio==1.32.0
six==1.15.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
wrapt==1.12.1